absl-py
accelerate
aiocache
aioconsole
aiofiles
aiohappyeyeballs
aiohttp
aiolimiter
aiosignal
aiosqlite
alembic
altair
annotated-types
anthropic
anyio
appdirs
APScheduler
argon2-cffi
argon2-cffi-bindings
asgiref
assemblyai
astra-assistants
astrapy
asttokens
astunparse
async-timeout
asyncer
asyncio-atexit
atlassian-python-api
attrs
auth0-python
Authlib
autogen-agentchat
autogen-core
autogen-ext
autogenstudio
autotiktokenizer
av
azure-ai-documentintelligence
azure-core
azure-identity
azure-storage-blob
backoff
bce-python-sdk
bcrypt
beautifulsoup4
bidict
bitarray
black
blinker
boto3
botocore
build
cached-property
cachetools
cassandra-driver
cassio
cattrs
certifi
cffi
chardet
charset-normalizer
chonkie
chroma-hnswlib
chromadb
clang
clevercsv
click
clickhouse-connect
cobble
cohere
colbert-ai
colorama
colorclass
coloredlogs
colorlog
comm
composio_core
composio_langchain
compressed_rtf
contourpy
coolname
crewai
crewai-tools
crypto
cryptography
ctranslate2
cycler
dataclasses
dataclasses-json
datasets
debugpy
decorator
deepdiff
defusedxml
Deprecated
deprecation
diffusers
dill
dirtyjson
diskcache
distro
Django
dnspython
docker
docstring_parser
docutils
docx2txt
dspy
dspy-ai
duckdb
duckduckgo_search
durationpy
e2b
e2b-code-interpreter
easygui
ebcdic
ecdsa
einops
elastic-transport
elasticsearch
email_validator
embedchain
emoji
environs
et_xmlfile
Events
executing
extract-msg
faiss-cpu
fake-useragent
fastapi
fastapi-cli
fastapi-pagination
fastavro
fastembed
faster-whisper
ffmpy
filelock
filetype
firecrawl-py
FLAML
Flask
Flask-Cors
flatbuffers
flowise
fonttools
fpdf2
frozendict
frozenlist
fs
fsspec
ftfy
future
gast
gcp-storage-emulator
geomet
git-python
gitdb
GitPython
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
google-cloud-aiplatform
google-cloud-bigquery
google-cloud-core
google-cloud-resource-manager
google-cloud-storage
google-crc32c
google-generativeai
google-pasta
google-resumable-media
google_search_results
googleapis-common-protos
gotrue
gptcache
gql
gradio
gradio_client
grandalf
graphql-core
greenlet
groq
grpc-google-iam-v1
grpcio
grpcio-health-checking
grpcio-status
grpcio-tools
gunicorn
h11
h2
h5py
hpack
html5lib
httpcore
httplib2
httptools
httpx
httpx-sse
huggingface-hub
humanfriendly
hyperframe
idna
ijson
importlib_metadata
importlib_resources
imutils
inflection
iniconfig
instructor
invisible-watermark
IProgress
ipykernel
ipython
ipywidgets
isodate
itsdangerous
jaraco.context
jedi
Jinja2
jiter
jmespath
joblib
jpype1
jq
json_repair
jsonpatch
jsonpath-python
jsonpickle
jsonpointer
jsonref
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
jupyterlab_widgets
keras
Keras-Preprocessing
Kivy
kivy-deps.angle
kivy-deps.glew
Kivy-Garden
kivy_deps.sdl2
kiwisolver
kornia
kornia_rs
kubernetes
lancedb
langchain
langchain-anthropic
langchain-astradb
langchain-aws
langchain-chroma
langchain-cohere
langchain-community
langchain-core
langchain-elasticsearch
langchain-experimental
langchain-google-calendar-tools
langchain-google-community
langchain-google-genai
langchain-google-vertexai
langchain-groq
langchain-milvus
langchain-mistralai
langchain-mongodb
langchain-nvidia-ai-endpoints
langchain-ollama
langchain-openai
langchain-pinecone
langchain-text-splitters
langchain-unstructured
langchainhub
langdetect
langflow
langflow-base
langfuse
langgraph
langgraph-checkpoint
langgraph-sdk
langsmith
langwatch
lark
ldap3
libclang
linkup-sdk
litellm
llama-cloud
llama-index
llama-index-agent-openai
llama-index-cli
llama-index-core
llama-index-embeddings-ollama
llama-index-embeddings-openai
llama-index-indices-managed-llama-cloud
llama-index-legacy
llama-index-llms-openai
llama-index-multi-modal-llms-openai
llama-index-program-openai
llama-index-question-gen-openai
llama-index-readers-file
llama-index-readers-llama-parse
llama-index-vector-stores-qdrant
llama-parse
llvmlite
loguru
lsprotocol
lxml
lz4
magicattr
Mako
mammoth
Markdown
markdown-it-py
markdownify
markitdown
MarkupSafe
marshmallow
matplotlib
matplotlib-inline
mdurl
mem0ai
metal_sdk
metaphor-python
ml-dtypes
mmh3
model2vec
monotonic
more-itertools
moto
mpmath
msal
msal-extensions
msgpack
msoffcrypto-tool
multidict
multiprocess
multitasking
mypy-extensions
Naked
namex
nanoid
narwhals
nest-asyncio
networkx
ninja
nltk
nodeenv
numba
numexpr
numpy
oauthlib
olefile
oletools
ollama
onnx
onnxruntime
open-webui
openai
openai-whisper
opencv-python
opencv-python-headless
openpyxl
opensearch-py
opentelemetry-api
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-exporter-otlp-proto-http
opentelemetry-exporter-prometheus
opentelemetry-instrumentation
opentelemetry-instrumentation-asgi
opentelemetry-instrumentation-fastapi
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
opentelemetry-util-http
opt_einsum
optree
optuna
orderly-set
orjson
outcome
overrides
packaging
pandas
parameterized
paramiko
parso
passlib
pathspec
pathvalidate
pcodedmp
pdfminer.six
pdfplumber
peewee
peewee-migrate
pgvector
pillow
pinecone-client
pinecone-plugin-inference
pinecone-plugin-interface
platformdirs
playwright
pluggy
portalocker
postgrest
posthog
primp
prometheus_client
prompt_toolkit
propcache
proto-plus
protobuf
psutil
psycopg
psycopg-binary
psycopg2-binary
pure_eval
puremagic
py
py-partiql-parser
py_rust_stemmers
pyarrow
pyasn1
pyasn1_modules
pyautogen
pyclipper
pycparser
pycryptodome
pydantic
pydantic-settings
pydantic_core
pydeck
pydub
pyee
Pygments
pyjdbc
PyJWT
pylance
pymdown-extensions
pymilvus
pymongo
PyMySQL
PyNaCl
pyodbc
pypandoc
pyparsing
pypdf
PyPDF2
pypdfium2
pyperclip
PyPika
pypiwin32
pyproject_hooks
pyreadline3
pyright
pysbd
Pysher
PySocks
pytest
pytest-docker
python-dateutil
python-decouple
python-docx
python-dotenv
python-engineio
python-iso639
python-jose
python-lsp-jsonrpc
python-magic
python-multipart
python-oxmsg
python-pptx
python-socketio
pytube
pytz
pyvis
PyWavelets
pywin32
pyxlsb
PyYAML
pyzmq
qdrant-client
qianfan
ragstack-ai-knowledge-store
rank-bm25
RapidFuzz
rapidocr-onnxruntime
realtime
red-black-tree-mod
redis
referencing
regex
render
requests
requests-mock
requests-oauthlib
requests-toolbelt
responses
RestrictedPython
retry
rich
rich-toolkit
rpds-py
rsa
RTFDE
ruff
s3transfer
safehttpx
safetensors
schema
scikit-learn
scipy
scrapegraph_py
selenium
semantic-router
semantic-version
semver
sentence-transformers
sentencepiece
sentry-sdk
serpapi
setuptools
setuptools-rust
shapely
shellescape
shellingham
simple-websocket
simsimd
six
smmap
sniffio
sortedcontainers
soundfile
soupsieve
spandrel
SpeechRecognition
spider-client
SQLAlchemy
sqlmodel
sqlparams
sqlparse
stack-data
starlette
storage3
streamlit
StrEnum
striprtf
supabase
supafunc
sympy
tabulate
tenacity
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
tensorflow-intel
termcolor
threadpoolctl
tiktoken
tokenizers
toml
tomli
tomli_w
tomlkit
torch
torchaudio
torchsde
torchvision
tornado
tqdm
traitlets
trampoline
transformers
tree-sitter
tree-sitter-python
trio
trio-websocket
typer
types-cachetools
types-requests
typing-inspect
typing_extensions
tzdata
tzlocal
ujson
uncurl
unstructured
unstructured-client
upstash-vector
uritemplate
urllib3
uuid6
uv
uvicorn
validators
watchdog
watchfiles
wcwidth
weaviate-client
webencodings
websocket-client
websockets
Werkzeug
wheel
widgetsnbextension
wikipedia
win32-setctime
win_unicode_console
wolframalpha
wrapt
wsproto
xlrd
XlsxWriter
xmltodict
xxhash
yarl
yfinance
youtube-transcript-api
zep-python
zipp
zstandard